body {
    display: block;

    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    background: #0D1117;
    overflow-y: auto;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

.container {}

.top_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60%;
    margin: 5vh;
    background: #0D1117;
    border-radius: 10px;
    border: 1px solid #2D343C;
}

.title {
    margin: 10px;
    padding-left: 3%;
    color: aliceblue;
    font-size: 20px;
}

.nav {
    width: 100vh;

}

nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

}

li a {
    color: aliceblue;
    text-decoration: none;

}

li {
    display: flex;
    margin: 10px;
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 25%;
    padding-top: 10%;
    height: 70vh;
}

.intro {
    color: aliceblue;
}

.image {}

.img {
    width: 150px;
    height: auto;
    border: 2px solid #3BB3C0;
    border-radius: 10px;

}

.about_me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.about_me_title {
    font-size: 1.2rem;
    background: #0D1117;
    border-radius: 7px;
    border: 1px solid #2D343C;
    padding: 1vh;
    padding-left: 10vh;
    padding-right: 10vh;
}

.paragraphs {
    font-size: 1.3rem;
    padding-left: 30vh;
    padding-right: 30vh;
    display: flex;
    flex-direction: column;
    margin-top: 8vh;
    text-align: center;
    align-items: center;

}

.prog_and_tools {
    margin-top: 8vh;
    font-size: 1.2rem;
    font-weight: bold;
}

.prog_and_tools span {
    background: linear-gradient(90deg, #D8E3FD, #7499F6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.tools{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10vh;
    margin-top: 5vh;
    
}

.s{
    background: #21293B;
    border-radius: 7px;
    border: 1px solid #2D343C;
    padding: 1vh;
    padding-left: 3vh;
    padding-right: 3vh;
}