body {
    display: block;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    background: #0D1117;

}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

.container {}

.top_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60%;
    margin: 5vh;
    background: #0D1117;
    border-radius: 10px;
    border: 1px solid #2D343C;
}

.title {
    margin: 10px;
    padding-left: 3%;
    color: aliceblue;
    font-size: 20px;
}

.nav {
    width: 100vh;

}

nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

}

li a {
    color: aliceblue;
    text-decoration: none;

}

li {
    display: flex;
    margin: 10px;
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 25%;
    padding-top: 10%;
}

.intro {
    color: aliceblue;
}

.image {}

.img {
    width: 150px;
    height: auto;
    border: 2px solid #3BB3C0;
    border-radius: 10px;

}
