body {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 0;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #1f1f1f;
  color: #d1cfc0;
}

/* Sidebar Column */
.sidebar {
  grid-column: 1;
  padding: 20px;
  overflow-y: auto;
  /* border-right: 1px solid #d1cfc0; */

}

/* Content Column */
body > .content {
  grid-column: 2;
  padding: 20px;
  overflow-y: auto;
}

.sidebar-list{
    margin-left: 5px;
    margin-right: 5px;
}

li{
    list-style: none;
    margin-bottom: 14px;
    margin-top: 14px;
    padding: 6px;

}

li:hover{
    background-color: #353535;
    border-radius: 5px;
    transition: 0.3s ease;
}

.active{
    background-color: #353535;
}

.li-1{
    padding: 6px;
    background-color: #353535;
    border-radius: 5px;

}

a{
    text-decoration: none;
    color: #d1cfc0;
}
